In [ ]:
#5 examples of list

In [1]:
lst = ['India', 4, 2, 6.7, [7,8,9]]

In [2]:
lst

['India', 4, 2, 6.7, [7, 8, 9]]

In [3]:
lst.append('Maharashtra')

In [4]:
lst

['India', 4, 2, 6.7, [7, 8, 9], 'Maharashtra']

In [5]:
lst.remove(6.7)

In [6]:
lst

['India', 4, 2, [7, 8, 9], 'Maharashtra']

In [7]:
lst.pop(2)

2

In [8]:
lst.reverse()

In [9]:
lst

['Maharashtra', [7, 8, 9], 4, 'India']

In [10]:
lst.clear()

In [11]:
lst

[]

In [ ]:
#5 examples of Dictionary

In [12]:
dit = {"Name":"Rani", "Age":"20", "Id":"456", "Game":"Hocky" }

In [13]:
dit

{'Name': 'Rani', 'Age': '20', 'Id': '456', 'Game': 'Hocky'}

In [14]:
dit.keys()

dict_keys(['Name', 'Age', 'Id', 'Game'])

In [15]:
dit.items()

dict_items([('Name', 'Rani'), ('Age', '20'), ('Id', '456'), ('Game', 'Hocky')])

In [16]:
dit.values()

dict_values(['Rani', '20', '456', 'Hocky'])

In [17]:
dit.setdefault('Raj')

In [18]:
dit

{'Name': 'Rani', 'Age': '20', 'Id': '456', 'Game': 'Hocky', 'Raj': None}

In [19]:
dit.copy()

{'Name': 'Rani', 'Age': '20', 'Id': '456', 'Game': 'Hocky', 'Raj': None}

In [ ]:
#5 examples of sets

In [20]:
set = {"Birds", "Plants", 1, 2, 3, 6, 2, 6, 8, 9, 123, 543}

In [21]:
set

{1, 123, 2, 3, 543, 6, 8, 9, 'Birds', 'Plants'}

In [22]:
set.add(4)

In [23]:
set

{1, 123, 2, 3, 4, 543, 6, 8, 9, 'Birds', 'Plants'}

In [24]:
set.pop()

1

In [25]:
set.remove(543)

In [26]:
set

{123, 2, 3, 4, 6, 8, 9, 'Birds', 'Plants'}

In [27]:
set1 = {2,4}

In [28]:
set.issuperset(set1)

True

In [29]:
set1.intersection(set)

{2, 4}

In [ ]:
#5 examples of Tuples

In [30]:
tup = ("Cat", "%", "google.com", "python")

In [31]:
tup

('Cat', '%', 'google.com', 'python')

In [32]:
len(tup)

4

In [33]:
max(tup)

'python'

In [34]:
min(tup)

'%'

In [35]:
tup.count("Cat")

1

In [36]:
tup.index("google.com")

2

In [37]:
tup.count("%")

1

In [ ]:
#5 examples of String

In [38]:
str = "programing is awesome"

In [39]:
str

'programing is awesome'

In [40]:
str.capitalize()

'Programing is awesome'

In [41]:
str.isalpha()

False

In [42]:
str.islower()

True

In [43]:
str.title()

'Programing Is Awesome'

In [44]:
str.swapcase()

'PROGRAMING IS AWESOME'